*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
}

.events{
    width: 100%;
}

.meeting .upcomingEventTime{
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    display: none;
}

.details{
    border-left: 1px solid rgb(219, 219, 219);
    padding: 5px 20px;
}

.events button:first-child{
    width: 80px;
}

.themes img{
    width: 100%;
    height: auto;
}

.upcomingEvents{
    padding: 100px 0px;
}

.worshipTeamResources{
    padding: 100px 20px;
}

.donation{
    background-color: orange;
    color: white;
}

.posts .leadersPost{
    width: 100%;
    height: 400px;
    background-image: url('./images/theme-5.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
}
